<a href="https://colab.research.google.com/github/adithyakini/algo_intraday/blob/master/test_pys.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


1. https://www.db4free.net/phpMyAdmin/db_structure.php?server=1&db=kini_nsedata
2. Database: kini_nsedata 
3. Username: adithyakini
4. Email: adithya.kini@gmail.com

**Pre-req's**

1. pip install nsetools < Python library for extracting realtime data from National Stock Exchange (India) https://pypi.org/project/nsetools/
2. pip install nsepy --upgrade 
3. pip install yahoo_fin < http://theautomatic.net/yahoo_fin-documentation/
4. pip install yfinance
5. pip install gspread oauth2client

**Screening for Volatality**

1. only stocks with volume over 20,00,000
2. only stocks that are between 100 and 500
3. only stocks that are gapped up or gapped down
4. 

**Strategy**

1. When Gap up and by 945 if the pivot is far 
2. 

**NOTES**
#to replace something in a list
res_list = list(map(lambda st: str.replace(st, ':EQ', ''), data_col2_list))
print(res_list)

In [ ]:
#connect to MySQL db in db4free.net
# pip install mysql-connector-python
#https://pynative.com/python-mysql-database-connection/

import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(host='db4free.net',
                                         database='kini_nsedata',
                                         user='adithyakini',
                                         password='Drink7up@home')
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)

except Error as e:
    print("Error while connecting to MySQL", e)
finally:
    if (connection.is_connected()):
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

Connected to MySQL Server version  8.0.20
You're connected to database:  ('kini_nsedata',)
MySQL connection is closed

In [ ]:
#pip install mysql.connector
#pip install DBcm
#pip install mysql.connector
#pip install mysql.connector
# Import libraries
import requests
from bs4 import BeautifulSoup
from google.colab import files
import io 
import requests_html
import lxml.html as lh
import pandas as pd
import re
from datetime import datetime
from datetime import timedelta
import mysql.connector as sql
import DBcm
import time
import unidecode #used to convert accented words
config = {
    "host": "db4free.net",
    "user": "adithyakini",
    "password": "Drink7up@home",
    "database": "kini_nsedata",
}
uploaded = files.upload() 
df = pd.read_csv(io.BytesIO(uploaded['tickers.csv'])) 
#df.head()
#df = df.fillna('NA')
#ticker_list = df.head().values.tolist()
ticker_list = df.values.tolist()
print(ticker_list)

### Extract from Yahoo Link ###
for ticker in ticker_list:
    url = 'https://in.finance.yahoo.com/quote/' + ticker[0]
    session = requests_html.HTMLSession()
    r = session.get(url)
    content = BeautifulSoup(r.content, 'lxml')
    try:
        #price = str(content).split('data-reactid="34"')[4].split('</span>')[0].replace('>','')
        price = content.select_one('.Mb\(-4px\)').text
    except IndexError as e:
        price = 0.00
    price = price or "0"
    try:
        price = float(price.replace(',',''))
    except ValueError as e:
        price = 0.00
    time.sleep(1)
#    with DBcm.UseDatabase(config) as cursor:
#        _SQL = """insert into tickers (ticker, price, company_name, listed_exchange, category)
#                  values (%s, %s, %s, %s, %s)"""
    print(ticker[0], price, ticker[1], ticker[2], ticker[3])
#        cursor.execute(_SQL, (unidecode.unidecode(ticker[0]), price, unidecode.unidecode(ticker[1]), unidecode.unidecode(ticker[2]), unidecode.unidecode(ticker[3])))
print('completed...')

In [ ]:
pip install unidecode

Collecting unidecode
  Downloading https://files.pythonhosted.org/packages/d0/42/d9edfed04228bacea2d824904cae367ee9efd05e6cce7ceaaedd0b0ad964/Unidecode-1.1.1-py2.py3-none-any.whl (238kB)
     |████████████████████████████████| 245kB 2.8MB/s
Installing collected packages: unidecode
Successfully installed unidecode-1.1.1

# New Section

In [ ]:
#authenticate to google drive
from google.colab import auth
auth.authenticate_user()
import gspread
from oauth2client.client import GoogleCredentials
gc = gspread.authorize(GoogleCredentials.get_application_default())
#import
import pandas as pd
from gspread_dataframe import get_as_dataframe
# Default value of display.max_rows is 10 i.e. at max 10 rows will be printed.
# Set it None to display all rows in the dataframe
#pd.set_option('display.max_rows', none)
#access spreadsheet
wb = gc.open_by_url('https://docs.google.com/spreadsheets/d/1ZTyh6GiHTwA1d-ApYdn5iCmRiBLZoAtwigS7VyLUk_Y/edit#gid=0')
#specify the tab that needs to be read
sheet = wb.worksheet('MIS')
#Now that we have the tab specified it’s time to get the data. To do this we will just call the get_all_values() or col_values() function off of the sheet object we created above:
data_col2_list = sheet.get_all_values()
df = pd.DataFrame(data_col2_list)
df.columns = df.iloc[0]
df = df.iloc[1:,[1,2]]
#replace in dataframe
df = df.replace(':EQ','',regex=True)
df

0    Stocks allowed for MIS Margin allowed
1                   3MINDIA             5X
2                  AARTIIND             5X
3                       ABB             5X
4                ABBOTINDIA             5X
5                 ABCAPITAL             5X
...                     ...            ...
1266
1267
1268
1269
1270

[1270 rows x 2 columns]

In [ ]:
import os, sys
from google.colab import drive
drive.mount('/content/mnt')
nb_path = '/content/notebooks'
os.symlink('/content/mnt/My Drive/Colab Notebooks', nb_path)
sys.path.insert(0, nb_path)  # or append(nb_path)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/mnt

In [ ]:
pip install mysql-connector-python --target=$nb_path mysql-connector-python

Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.6/dist-packages (8.0.20)
Requirement already satisfied: protobuf>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from mysql-connector-python) (3.10.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (47.3.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.6/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (1.12.0)


### Extract from Yahoo Link ###
for data_col2 in data_col2_list:
    url = 'https://in.finance.yahoo.com/quote/' + data_col2[1]
    session = requests_html.HTMLSession()
    r = session.get(url)
    content = BeautifulSoup(r.content, 'lxml')
    try:
        #price = str(content).split('data-reactid="34"')[4].split('</span>')[0].replace('>','')
        price = content.select_one('.Mb\(-4px\)').text
    except IndexError as e:
        price = 0.00
    price = price or "0"
    try:
        price = float(price.replace(',',''))
    except ValueError as e:
        price = 0.00
    time.sleep(1)
    print(data_col2[1], price, data_col2[2])
print('completed...')

In [ ]:
import requests, zipfile, os, io, pandas as pd
from datetime import datetime
from dateutil.relativedelta import relativedelta

base = '/content/'
t = datetime.today().date()
dmonth={'01':'JAN','02':'FEB','03':'MAR','04':'APR','05':'MAY','06':'JUN','07':'JUL','08':'AUG','09':'SEP','10':'OCT','11':'NOV','12':'DEC'}

# Before running this script , create a file called log.txt and write the date from which you want to download EOD data
# Opening file named log.txt , which keeps track of the last downloaded date.
ltdl = open(base+'log.txt','r')
lastdt = ltdl.read(10)
ltdl.close()
lastdt = datetime.strptime(lastdt,'%Y-%m-%d')
diff, wr = t-lastdt.date(), ''

for i in range(1,diff.days+1):
    nextdt = lastdt+ relativedelta(days=i)
    d, m, y = '%02d' % nextdt.day, '%02d' % nextdt.month, '%02d' % nextdt.year
    if not os.path.isdir(base+y):
        os.mkdir(base+y)
        os.mkdir(base+y+'/Index')
        os.mkdir(base+y+'/Futures')
    zpath = base+y+'/'+d+'.zip'
    
    for i in range(7):
        while True:
            try:
                a=requests.get('https://archives.nseindia.com/content/historical/EQUITIES/'+y+'/'+dmonth[m]+'/cm'+d+dmonth[m]+y+'bhav.csv.zip')
            except requests.ConnectionError:
                print('No connection, retrying')
            break
            
    if a.status_code==200:
        dload=open(zpath, 'wb')
        dload.write(a.content)
        dload.close()
        z = zipfile.ZipFile(zpath, 'r')
        z.extractall(base+y+'/')
        z.close()
        os.remove(zpath)
        f, deldict = pd.read_csv(base+y+'/cm'+d+dmonth[m]+y+'bhav.csv'), {}  #reading the raw dl-ed bhav file
        f = f[f['SERIES'] == 'EQ'] #retaining only EQ rows and leaving out bonds,options etc
        deliverable = requests.get('https://archives.nseindia.com/archives/equities/mto/MTO_'+d+m+y+'.DAT').text.splitlines()
        del deliverable[:4]

        for i in deliverable:
            c = i.split(',')
            if c[3] == 'EQ' :                
                deldict[c[2]] = c[5] #building delivarables dict
     
        dfdel = pd.DataFrame(list(deldict.items()), columns = ['SYMBOL', 'DELIVERABLE'])
        f = f.merge(dfdel, on='SYMBOL', how='left')      #left merge of delivarables here
        
        indices = requests.get('https://archives.nseindia.com/content/indices/ind_close_all_'+d+m+y+'.csv').content
  
#sometimes nse doesnt give the index file, so the if condition
        if len(indices)>300:
          indx = pd.read_csv(io.StringIO(indices.decode('utf-8'))) #reading content of indices csv and storing in DataFrame using io module
          indx.to_csv(base+y+'/Index/Indices'+ str(nextdt.date())+'.csv', index=False)
          indx[['Index Name', 'Index Date', 'Open Index Value', 'High Index Value', 'Low Index Value', 'Closing Index Value', 'Volume']]
          indx = indx.rename(columns={'Index Name' : 'SYMBOL', 'Index Date' : 'TIMESTAMP', 'Open Index Value' : 'OPEN', 'High Index Value' : 'HIGH', 'Low Index Value' : 'LOW', 'Closing Index Value' : 'CLOSE', 'Volume' : 'TOTTRDQTY'})
          f=f.append(indx, ignore_index=True)
          f['TIMESTAMP'] = pd.Series(str(nextdt.date().strftime('%Y%m%d')) for _ in range(len(f)))
          f = f[['SYMBOL', 'TIMESTAMP', 'OPEN', 'HIGH', 'LOW', 'CLOSE', 'TOTTRDQTY', 'DELIVERABLE']]
          f.to_csv(base+y+'/'+str(nextdt.date())+'.csv', index=False)
          os.remove(base+y+'/cm'+d+dmonth[m]+y+'bhav.csv')
          futures = requests.get('https://archives.nseindia.com/content/historical/DERIVATIVES/'+y+'/'+dmonth[m]+'/fo'+d+dmonth[m]+y+'bhav.csv.zip')
          fo = open(zpath, 'wb')
          fo.write(futures.content)
          fo.close()
          z, wr = zipfile.ZipFile(zpath,'r'), nextdt.date()
          z.extractall(base+y+'/Futures')
          z.close()
          os.remove(zpath)